<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>MEAN-Exp -> Agenda de contatos</title>
	</head>
	<body>
		<header>
			<h1>Agenda de contatos</h1>
			<h4>Bem-Vindos</h4>
		</header>
		<section>
			<form action="/entrar" method="post">
				<input type="text" name="usuario[nome]" placeholder="Nome" /><br />
				<input type="text" name="usuario[email]" placeholder="E-mail" /><br />
				<button type="submit">Entrar</button>
			</form>
		</section>
		<footer>
			<small>MEAN-Exp ->Agenda de Contatos</small>
		</footer>
	</body>
</html>